#### 1. 시저암호, 고대 로마의 황제 줄리어스 시저가 만들어 낸 암호인데,
-예를 들어 알파벳 A를 입력했을 때, 그 알파벳의 n개 뒤에 오는 알파벳이 출력 되는 것이다.
-예를 들어 바꾸려는 단어가 "CAT"이고 n을 5로 지정 하였을 때 "HFY"가 되는 것이다.


-어떠한 암호를 만들 문장과 n을 입력했을 때 암호를 만들어 출력하는 프로그램을 작성하시오.
-입력 : 화면에서 문자열과 n값을 입력 받는다. (예: RDSE 5)
-출력 : 암호화된 문자열 출력

In [71]:
word = ''
for c in 'RDSE':
    word += chr(ord(c)+5)
word

'WIXJ'

1.표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

________________
________________
________________
________________
________________
________________
________________


예

입력
the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.

In [65]:
olythe = input().split()
olythe

['the',
 "grown-ups'",
 'response,',
 'this',
 'time,',
 'was',
 'to',
 'advise',
 'me',
 'to',
 'lay',
 'aside',
 'my',
 'drawings',
 'of',
 'boa',
 'constrictors,',
 'whether',
 'from',
 'the',
 'inside',
 'or',
 'the',
 'outside,',
 'and',
 'devote',
 'myself',
 'instead',
 'to',
 'geography,',
 'history,',
 'arithmetic,',
 'and',
 'grammar.',
 'That',
 'is',
 'why,',
 'at',
 'the,',
 'age',
 'of',
 'six,',
 'I',
 'gave',
 'up',
 'what',
 'might',
 'have',
 'been',
 'a',
 'magnificent',
 'career',
 'as',
 'a',
 'painter.',
 'I',
 'had',
 'been',
 'disheartened',
 'by',
 'the',
 'failure',
 'of',
 'my',
 'Drawing',
 'Number',
 'One',
 'and',
 'my',
 'Drawing',
 'Number',
 'Two.',
 'Grown-ups',
 'never',
 'understand',
 'anything',
 'by',
 'themselves,',
 'and',
 'it',
 'is',
 'tiresome',
 'for',
 'children',
 'to',
 'be',
 'always',
 'and',
 'forever',
 'explaining',
 'things',
 'to',
 'the.']

In [66]:
olythe = input().split()

count = 0
for i in olythe:
    if i.strip('.,') == 'the':
        count += 1
        
print(count)

6

2.표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

________________
________________
________________
________________


예

입력
51900;83000;158000;367500;250000;59200;128500;1304000

결과
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

In [72]:
# (pri = 'f{pri:,}') 이렇게는 안됨

In [74]:
pri = list(map(int, input().split(';')))
pri.sort(reverse = True)
for i in pri:
    print('{0:>9,}'.format(i))

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

3.표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

________________
________________
________________
________________

예
입력
health health_regen mana mana_regen
575.6 1.7 338.8 1.63

결과
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

입력
health mana melee attack_speed magic_resistance
573.6 308.8 600 0.625 35.7

결과
{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

In [31]:
key_list=input().split()
val_list=map(float, input().split())

stat=dict(zip(key_list,val_list))
print(stat)

{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

1.표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))
 
________________
________________
 
print(x)


예

입력
alpha bravo charlie delta
10 20 30 40

결과
{'alpha': 10, 'bravo': 20}

입력
alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90

결과
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

In [8]:
keys = input().split()
values = map(int, input().split())

x = dict(zip(keys, values))
x

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [9]:
del x['delta']
x

{'alpha': 10, 'bravo': 20, 'charlie': 30}

In [10]:
for key, value in x.items():
    if value == 30:
        break
del x[key]
x

{'alpha': 10, 'bravo': 20}