### 여러개의 입력 처리

In [3]:
#리스트 안에 값을 나눠서 입력
a = 'red blue green'
a.split()

['red', 'blue', 'green']

In [4]:
# , 를 기준으로 나누기
b = 'red,green,blue'
b.split(',')

['red', 'green', 'blue']

In [6]:
string = input('빛의 3원색을 빈칸으로 구분하여 입력하세요.')
string

'RED GREEN BLUE'

In [7]:
R,G,B = string.split()
R,G,B

('RED', 'GREEN', 'BLUE')

In [9]:
numbers = ['3.1','2.4','8.5']
map(float, numbers) #이렇게 하면 값이 안나옴 list로 만들어 줘야함

In [10]:
numbers = ['3.1','2.4','8.5']
list(map(float, numbers))

[3.1, 2.4, 8.5]

In [12]:
string = '3.1 2.4 8.5'
list(map(float, string.split()))

[3.1, 2.4, 8.5]

In [13]:
string = input('실수 3개를 빈칸으로 구분하여 입력하세요.')
string

'3.1 2.4 8.5'

In [16]:
list(map(float, input('실수 3개 입력').split()))

[3.1, 2.4, 8.5]

In [17]:
x, y, z = [3.1, 2.4, 8.5]
x, y, z

(3.1, 2.4, 8.5)

In [19]:
x, y, z = list(map(float, input('실수 3개 입력').split()))
x, y, z

(3.14, 2.414, 2.718)

In [20]:
x, y, z = list(map(float, input('실수 3개 입력').split()))
x, y, z

(1.0, 2.0, 3.0)

##### 연습 문제 - 코인도장 10.4 : range로 리스트 만들기

In [23]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

#### range - sequence 자료형

In [24]:
range(5)

range(0, 5)

In [26]:
#하나만 있다면  0에서 부터 끝값(+1)이 된다.
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
# 1~10 까지 표현 하고 싶다면
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# 1~10 까지 홀수만 표현 하고 싶다면 range(시작값, 끝값, 넘어가는 값)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [31]:
# 10~1까지 거꾸로 짝수로표현 하고 싶다면
list(range(10,1,-2))

[10, 8, 6, 4, 2]

#### 연습문제 : 두개의 정수를 입력받아서 첫번째 값에서 두번째 값까지 출력 (단 두번째 값이 첫번째 값보다 크다.)

##### ex) [5,10]=>[5,6,7,8,9,10]

In [45]:
a, b = map(int,input('두개의 정수를 입력하세요').split())
a,b

(5, 10)

In [46]:
print(list(range(a,b+1)))

[5, 6, 7, 8, 9, 10]

In [ ]:
a,b = map(int, input().split())