# 자료구조

#### 스텍(Stack)

In [4]:
stack = [1, 2, 3]
stack.append(4)
stack

[1, 2, 3, 4]

In [5]:
stack.pop()

4

In [6]:
stack

[1, 2, 3]

In [8]:
# 입력한 문자를 거꾸로 추출
word =input('단어를 입력')
word_list = list(word)
print(word_list)


result = []
for s in range(len(word_list)):
    result.append(word_list.pop())
print(result)

['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']

#### 큐

In [10]:
queue = [1, 2, 3, 4]
queue.pop()

4

In [11]:
queue

[1, 2, 3]

#### 튜플

In [14]:
t = (1, 2, 3)
st = tuple('word')
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [15]:
# 괄호가 없어도 튜플로 인식
t = 1, 2, 3
t

(1, 2, 3)

In [16]:
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [17]:
# 시퀸스 자료형이므로 for문에서 사용가능
for element in t:
    print(element)

1
2
3

#### 세트

In [19]:
s = set([1, 2, 3])
s

{1, 2, 3}

In [20]:
s = set((1, 2, 3))
s

{1, 2, 3}

In [21]:
# CRUD
s.add(4)
s

{1, 2, 3, 4}

In [22]:
s.add(1)
s

{1, 2, 3, 4}

In [26]:
s.update([1, 3, 5, 7])
s

{1, 2, 3, 4, 5, 7}

In [24]:
s.remove(7)
s

KeyError: 7

In [25]:
s.discard(3)
s

{1, 2, 4}

In [27]:
s.clear()
s

set()

In [28]:
s1 = set(range(1, 6))
s2 = set(range(3, 8))
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [29]:
# 합집합
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [30]:
s1,s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [31]:
# 교집합(intersection)
s1.intersection(s2)

{3, 4, 5}

In [32]:
# 차집합(differnce)
s1.difference(s2)

{1, 2}

In [33]:
s1 - s2

{1, 2}

In [34]:
for i in s1:
    print(i)

1
2
3
4
5