# 딕셔너리(Dictionary)

### 딕셔너리 만들기( C )

In [3]:
lux = {'health':490, 'mana':314, 'melee':550, 'armor':18.72}
lux

{'health': 490, 'mana': 314, 'melee': 550, 'armor': 18.72}

In [4]:
lux1 = dict(health = 490, mana = 333, melee = 550, armor = 19.72)
lux1

{'health': 490, 'mana': 333, 'melee': 550, 'armor': 19.72}

In [5]:
lux2 = dict([('health', 490),('mana', 333),('melee', 550),('armor', 18.72)])
lux2

{'health': 490, 'mana': 333, 'melee': 550, 'armor': 18.72}

In [6]:
list(zip([1, 2, 3],['a', 'b', 'c']))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [7]:
key_list = ['health', 'mana', 'melee', 'armor']
val_list = [490, 333, 550, 18.72]
list(zip(key_list,val_list))

[('health', 490), ('mana', 333), ('melee', 550), ('armor', 18.72)]

In [8]:
lux3 = dict(zip(key_list, val_list))
lux3

{'health': 490, 'mana': 333, 'melee': 550, 'armor': 18.72}

#### 딕셔너리 참조하기(R)

In [10]:
lux['health']

490

#### 딕셔너리 값 변경하기(U)

In [12]:
lux['health'] = 600
lux

{'health': 600, 'mana': 314, 'melee': 550, 'armor': 18.72}

In [14]:
lux['mana'] += 100
lux

{'health': 600, 'mana': 414, 'melee': 550, 'armor': 18.72}

In [15]:
lux['mana_regen'] = 3.28
lux

{'health': 600, 'mana': 414, 'melee': 550, 'armor': 18.72, 'mana_regen': 3.28}

#### 딕셔너리 값 삭제하기(D)

In [17]:
lux.pop('mana_regen')
lux

{'health': 600, 'mana': 414, 'melee': 550, 'armor': 18.72}

In [18]:
del lux['armor']
lux

{'health': 600, 'mana': 414, 'melee': 550}

#### 딕셔너리의 키/벨류 값들을 가져오기

In [22]:
lux2.keys()

dict_keys(['health', 'mana', 'melee', 'armor'])

In [23]:
lux2.values()

dict_values([490, 333, 550, 18.72])

#### 딕셔너리 반복문

In [26]:
lux.items()

dict_items([('health', 600), ('mana', 414), ('melee', 550)])

In [29]:
for key, value in lux.items():
    print(key, value)

health 600
mana 414
melee 550

In [28]:
for key in lux.keys():
    print(key, lux[key])

health 600
mana 414
melee 550

In [30]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

In [31]:
terrestrial_planet['Earth']

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [32]:
terrestrial_planet['Earth']['orbital_period']

365.25641