### -리스트의 이해

#리스트의 개념
#-리스트(list) 하나의 변수에 여러 값을 할당하는 자료형이다.
#-파이썬에서는 리스트처럼 여러 데이터를 하나의 변수에 할당하는 기법을 시퀸스 자료형이라고 한다. 시퀸스 자료형은 여러 자료를 순서대로 넣는다는 뜻이다.
#-리스트는 하나의 자료형으로만 저장하지 않고, 정수형이나 시수형 같은 다양한 자료형을 포함할 수 있다.

In [5]:
colors = ['red','blue','green',0xffffff]

### -인덱싱

In [9]:
colors[0], colors[-4]

('red', 'red')

In [10]:
colors[2],colors[-2]

('green', 'green')

#### -슬라이싱

In [12]:
cities = ['서울','부산','인천','대구','대전','광주','울산','세종']
cities[0:3]

['서울', '부산', '인천']

In [13]:
#시작 0, 끝에 -1은 생략가능
cities[:3]

['서울', '부산', '인천']

In [15]:
cities[5:]

['광주', '울산', '세종']

In [17]:
# -1을 추가하면 끝에 하나가 빠짐 
cities[5:-1]

['광주', '울산']

In [20]:
# 2를 추가해서 2개의 값을 띄어 출력
# 시작값 : 끝값 : 중분
cities[::2]

['서울', '인천', '대전', '울산']

In [ ]:
#하나씩 감소하여 출력
cities[::-1]

In [24]:
#Revers Index
#뒤에있는 값부터 출력
#-1은 값하나 빼기
cities[7:5:-1]

['세종', '울산']

In [ ]:
#증가분을 빼면 값이 안나옴 꼭 -1 넣어야함
cities[7:5]

In [25]:
#행 인덱스 뽑아내기
#ex) [1:3,:3] (2,3행의 3열까지)

In [30]:
#인덱스 범위를 넘어가는 슬라이싱(범위가 넘어가면 그냥 다 나옴)
cities[-10:10]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '세종']

### -연산

In [33]:
color1 = ['red','green','blue']
color2 = ['orange','black','white']

In [34]:
#길이
len(color1)

3

In [35]:
#리스트 합치기
color1 + color2

['red', 'green', 'blue', 'orange', 'black', 'white']

In [36]:
#새로운 값을 넣으려면 항상 새로운 변수에 넣어준다.
totalcolor = color1 + color2
totalcolor

['red', 'green', 'blue', 'orange', 'black', 'white']

In [40]:
#반복
color1 * 2

['red', 'green', 'blue', 'red', 'green', 'blue']

In [43]:
#레드가 칼라1에 있는가, 레드가 칼라2에 있는가
'red' in color1, 'red' in color2

(True, False)

In [44]:
#not 부정
'red' not in color1

False

### - 리스트의 추가 및 삭제(다양한 메소드)

##### 리스트 추가 및 삭제

###### append()함수 : 새로운 값을 기존 리스트의 맨 끝에 추가

In [46]:
color = ['red','green','blue']
color

['red', 'green', 'blue']

In [47]:
color.append('white')
color

['red', 'green', 'blue', 'white']

In [49]:
results = list() #emtpy list 생성
for s in 'Hello World':
    results.append(s)
results

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [54]:
x = [s for s in 'Hello World']
x

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [52]:
sum = 0
for i in range(101):
    sum += i
sum

5050

###### extend()함수 : 새로운 리스트를 기존 리스트에 추가

In [56]:
#append를 사용해서 여러개를 하면 엉뚱하게 나옴
color.append(['black','white'])
color

['red', 'green', 'blue', 'white', ['black', 'white']]

In [69]:
#리스트를 펼쳐서 준다.
color = ['red','green','blue']
color.extend(['black','white'])
color

['red', 'green', 'blue', 'black', 'white']

##### insert()함수 : 새로운 값을 기존 리스트의 맨 앞부분에 추가

In [70]:
color.insert(0,'orange')
color

['orange', 'red', 'green', 'blue', 'black', 'white']

##### renove()함수 : 추가 한 것 없애는거

In [71]:
color.remove('orange')
color

['red', 'green', 'blue', 'black', 'white']

In [72]:
# 마지막 것 없애는 거
color.remove(color[-1])
color

['red', 'green', 'blue', 'black']

In [73]:
#메쏘드가 아닌 명령어로 지우는 법
del color[-1]
color

['red', 'green', 'blue']

#### - 리스트 element의 값 변경

In [75]:
#2번에 있는값(3번째) 변경
color[2] = 'puple'
color

['red', 'green', 'puple']

##### sort()함수 : 정렬

In [83]:
color

['red', 'puple', 'green']

In [81]:
#올림차순(ascending order)이 기본
color.sort()
color

['green', 'puple', 'red']

In [82]:
#내림차순(descending order)이 기본
color.sort(reverse= True)
color

['red', 'puple', 'green']

#### - 패킹,언패킹 packing, unpacking

In [86]:
t = [1,2,3] #리스트의 값
a,b,c = t   #리스트 언패킹
a,b,c       #튜플 패킹

(1, 2, 3)

### 2차원 리스트

In [89]:
kor = [49,79,29,100,80]
mat = [43,59,85,30, 90]
eng = [49,79,48,60,100]
score = [kor, mat, eng]
score

[[49, 79, 29, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [90]:
score[0]

[49, 79, 29, 100, 80]

In [91]:
#[행 인덱스][열 인덱스]
score[1][3]

30

In [95]:
#1부터 끝까지
score[1:]

[[43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [93]:
#이럼 안됨
score[1:][2:]

[]

In [94]:
# :만있음 all
score[:]

[[49, 79, 29, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [ ]:
끝