#Chapter 2. 변수와 자료형

###1.변수의 이해

In [3]:
professor = "Sungchul Choi"
print(professor)

Sungchul Choi

In [5]:
professor

'Sungchul Choi'

In [6]:
a = 7
b = 5
print(a + b)

12

In [7]:
print("a + b")

a + b

In [1]:
#변수명 설정에 관한 암묵적 규칙
1. 두개의 단어
 - Java <Camel> ex)hairColor
    - Python <Snake> ex)hair_color

2. 변수명 - 소문자로 시작
   클래스 - 대문자로 시작

3. '_'로 시작하는 변수명 지양

4. a, b, c = 1, 2, 3  
   cf) a, b, _ = func( ) 더미변수

In [8]:
c, d = 10, 20
c+d

30

In [ ]:
#자료형과 기본 연산

In [9]:
x = 7
y = 2
print(7 // 2)   # 몫(quotient)
print(7 % 2)    # 나머지(modulo)

3
1

In [10]:
# 행 인덱스, 열 인덱스를 구할때 //, % 연산자가 사용됨
for i in range(6):
    print(i//3, i%3)

0 0
0 1
0 2
1 0
1 1
1 2

In [11]:
# 연산자 단축
a = 10
a += 5      # a = a + 5
print(a)

15

In [ ]:
#3자료형 변환환

In [12]:
a -= 3      # a = a - 3
a

12

In [13]:
a /= 4      # a = a / 4
a

3.0

In [14]:
10 * True, 10 * False

(10, 0)

In [16]:
10 == True

False

In [17]:
1 == True

True

In [19]:
a ='76.3'
b = float(a)
a,b

('76.3', 76.3)

In [20]:
# 문자열 더하기(concatenate) +
a + b

TypeError: can only concatenate str (not "float") to str

In [21]:
a + str(b)

'76.376.3'

In [22]:
type(a), type(b), type(1), type(True)

(str, float, int, bool)